<p>
<table>
 <thead>
   <th>Inproceedings</th>
 </thead>
 <tbody>
   <% @Inproceedings.each do |i| %>
   <tr>
    <td><%= link_to i.title, i  %></td>
   </tr>
   <% end %>
 </tbody>
</table>
<%= link_to 'New inproceedings', new_inproceedings_path %>
<%= link_to 'List all', inproceedings_index_path %>
</p>

<p>
<table>
  <thead>
  <th>Incollections</th>
  </thead>
  <tbody>
  <% @Incolletions.each do |i| %>
      <tr>
        <td><%= link_to i.title, i  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New incollection', new_incollection_path %>
<%= link_to 'List all', incollections_path %>
</p>

<p>
<table>
  <thead>
  <th>Articles</th>
  </thead>
  <tbody>
  <% @Articles.each do |i| %>
      <tr>
        <td><%= link_to i.title, i  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New article', new_article_path %>
<%= link_to 'List all', articles_path %>
</p>

<p>
<table>
  <thead>
  <th>Books</th>
  </thead>
  <tbody>
  <% @Books.each do |i| %>
      <tr>
        <td><%= link_to i.title, i  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New book', new_book_path %>
<%= link_to 'List all', books_path %>
</p>


