<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Munanashampurilainen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Munanashampurilainen</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'Inproceedings', inproceedings_index_path %></li>
        <li><%= link_to 'Incollections', incollections_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

</div>
<div class="container">
  <div class="starter-template">
    <%= yield %>
  </div>
</div>


</body>
</html>
