<!DOCTYPE html>
<html>
<head>
  <title>Munanashampurilainen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navibar">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Books', books_path %>
  <%= link_to 'Articles', articles_path %>
  <%= link_to 'Inproceedings', inproceedings_index_path %>
</div>
<%= yield %>

</body>
</html>
